.contentd {
  position: relative;
  top: 75px;
  width: 900px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.contentd > h2 {
  font-size: 30px;
  margin-bottom: 55px;
}

.devicon {
  height: 60px;
  width: 60px;
}

.skill-grid {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  grid-template-rows: repeat(3, 60px);
  column-gap: 100px;
  row-gap: 100px;
}
