.contentc {
  position: relative;
  top: 75px;
  width: 900px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}
.contentc > h2 {
  font-size: 30px;
  margin-bottom: 55px;
}

.projects {
  display: grid;
  column-gap: 100px;
  row-gap: 50px;
  grid-template-areas:
    "a b"
    "c c";
}

.a {
  grid-area: a;
}
.b {
  grid-area: b;
}
.c {
  grid-area: c;
}
