nav {
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0px;
  height: 95px;
  color: white;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
  z-index: 80;
  transition: 0.2s;
}
ul {
  list-style: none;
  color: rgb(187, 187, 187);
}

ul > .btnGreen {
  margin-left: 50px;
}
.navlinks {
  display: flex;
  align-items: center;
}

.navlinks > li {
  margin: 20px;
}
.ln1 {
  margin-left: 185px;
}
.ln2 {
  margin-right: 185px;
}

.dark {
  background-color: #1f2d41;
  transition: 0.2s;
}
